.p-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .p-product-image {
    padding: 10px;

    img {
      height: 250px;
    }
  }

  .p-product-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3,
    p {
      padding: 10px 0;
    }

    .p-product-qty {
      display: flex;
      flex-direction: row;
      width: 80px;
      height: 40px;
      align-items: center;
      justify-content: center;
      border: 1px solid #7c7c7c;
      border-radius: 8px;
      margin: 5px 0;

      p {
        display: flex;
        align-items: center;
        font-size: 15px;
        box-sizing: border-box;
        padding: 0 10px;
        text-align: center;
        height: 100%;
        color: #000000;
        border-left: 1px solid #7c7c7c;
        border-right: 1px solid #7c7c7c;
      }
    }

    .p-product-button-div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;

      .p-product-button {
        background-color: #3167eb;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
        height: 40px;
        border: 0;
      }

      .p-product-button-buy {
        width: 60%;
      }

      .p-product-button-cart {
        margin-left: 8px;
        width: 20%;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .p-product-infos {
    p,
    h3 {
      padding: 10px 0;
    }
  }
}
