@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.c-modal-menu-header {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  background: #e4e4e4;
  z-index: 1;
  padding: 120px 0;
  animation-direction: alternate;

  button:nth-child(1) {
    border-top: 1px solid #535353;
  }

  button {
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    border: 4px;
    border-bottom: 1px solid #535353;

    .c-modal-menu-header-button {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        margin-right: 10px;
      }

      p {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
