@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.c-header {
  background-color: white;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 20px 20px 10px 20px;
  .c-header-content {
    width: 100%;
    .c-header-up {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      a {
        max-width: 20%;
        text-decoration: none;
        margin-right: 10px;
        img {
          max-width: 100%;
        }
      }

      .c-header-up-serch {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .c-header-up-serch-actions {
        display: flex;
        flex-direction: row;
      }
    }

    .c-header-options {
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
      margin-top: 1rem;
      align-items: center;

      div:nth-child(1) {
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 450px) {
  .c-header {
    .c-header-content {
      .c-header-up {
        .c-header-up-serch-actions {
          flex-wrap: wrap;
          justify-content: flex-end;
        }
      }
      .c-header-options {
        justify-content: center;
      }
    }
  }
}
