.c-search {
  //border: 1px solid #ced4da;
  background-color: #ced4da;
  input {
    width: 300px;
    background-color: transparent;
    border: none;
  }
  .c-search-btn {
    padding: 10px;
    background-color: #3167eb;
    border: none;
    color: white;
    font-weight: 700;
  }
}
