.c-search {
  display: flex;
  flex-wrap: nowrap;
  max-height: 36px;
  input {
    width: 300px;
    height: 36px;
    padding: 9px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #ced4da;
  }
  .c-search-btn {
    padding: 10px;
    background-color: #3167eb;
    border: none;
    color: white;
    border-radius: 0px 5px 5px 0px;
    font-weight: 700;
    height: 36px;
  }
  .c-search-drop-items {
    display: block;
    width: auto;
    min-width: 300px;
    position: absolute;
    background-color: white;
    padding: 0.5rem 0;
    z-index: 2;
    border-radius: 5px;
    border: 1px solid #ced4da;
    ul {
      list-style: none;
      li {
        margin-top: 5px;
        padding: 0.5rem 1.5rem;
        text-align: inherit;
        white-space: nowrap;
      }
      li:hover {
        background-color: #f8f9fa;
      }
      a {
        text-decoration: none;
        color: #212529;
      }
    }
  }
}

@media (max-width: 600px) {
  .c-search {
    input {
      width: 200px;
    }
  }
}
