* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body,
#root,
.container {
  min-height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

@keyframes transitionToLeft {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@keyframes transitionToRigth {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
